*{
    padding: 0;
    margin: 0;
}
html,body{
    height: 100%;
}
body{
    color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.section-info{
    border-left: 1px solid rgba(43,44,52,0.3);
    padding-left: 20px;
    width: 680px;
    min-height: 200px;
}
.section-info-title{
    font-size: 32px;
    margin-bottom: 20px;
}
.section-info-subtitle{
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(40,44,51,.2);
    color: #48484B;
    margin-left: 20px;
    font-size: 20px;
}
nav{
    margin: 20px 0 0 60px;
}
li{
    margin-top: 10px;
}
span{
    color: #8F42AC;
}
.section-info-nextStep{
    margin-top: 20px;
}
.code{
    padding: 0 5px;
    background: #2B2C34;
    color: #fff;
}


